@model BD2012.Models.BurndownViewModel
@{
    ViewBag.Title = "Burndown";
}

<h1>@Model.Name</h1>

<table>
    <tr>
        <th colspan="1">Item</th>
        <th>Numbers, Yo.</th>
    </tr>
    @foreach (var item in Model.AllRows)
    {
        <tr>
            <td>
                <span style="margin-left: @(item.Indent * 20)px">
                    @item.Name
                </span>
            </td>
            <td> NEXT -- stick numbers in here</td>
        </tr>
    }
</table>
